<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Contact</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor,
      ab aliquam quia aperiam voluptates rerum debitis excepturi quas sequi
      explicabo, inventore facere nostrum consectetur facilis iusto deleniti
      animi cum.
    </p>
  </body>
</html>
